body {
    height:100%;
    width:100%;
    background-image:url(../images/water.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-menu {
    height:40px;
}

.side-menu {
    display:inline-block;
    width:15%;
    height:calc(100% - 40px)
}

.all-list-titles {
    all:unset;
    text-align: center;
}

.all-list-titles li {
    margin:5px;
    padding:20px 1vw;
    font-size:2vw;
    color:white;
    border-radius:10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.all-list-titles li:hover {
    background-color: rgba(0, 122, 197, 0.7)
}

/* .all-list-titles .add-new-list {
    border-radius:50%;
    margin:auto;
    width:8vw;
    height:8vw;
    list-style:none;
    font-weight:800;
} */

.current-list-title {
    background-color:rgba(0, 70, 155, 0.9);
    pointer-events: none;
}

.dark.blue {
    background-color:rgba(0, 70, 155, 0.9)
}

.normal.blue {
    background-color: rgba(0, 122, 197, 0.7)
}

.light.blue {
    background-color:rgba(0, 159, 232, 0.3)
}

.current-list {
    width:85%;
    height:calc(100% - 40px);
    display:inline-block;
    vertical-align: top;
    padding:20px;
    box-sizing:border-box;
}

.list {
    width:400px;
}

.list-title {
    padding:5px 10px;
    color:white;
    font-size:40px;
    text-shadow: 3px 3px 3px rgb(0, 70, 155);
}

.list .card {
    border-radius:10px;
    background-color:rgb(255,255,255);
    width:calc(100% - 6px);
    margin:2px;
}

.list .card .card-body {
    display:flex;
    align-items:center;
}

.list .card.completed {
    opacity:0.8;
    text-decoration: line-through;
}

.list .card span {
    display:inline-block;
    padding:0 0.5rem;
}

.list .card label {
    all:unset;
    display:flex;
    align-items:center;
}

.add-item {
    outline:none;
    border:0;
}

.add-item[type="text"] {
    width:80%;
}

.add-button {
    position:absolute;
    top:15px;
    right:20px;
}

.list .card:hover .edit-item{
    opacity: 1;
    transform:scale(1,1);
    pointer-events: all;
    cursor:pointer;
}

.list .card .edit-item {
    opacity:0;
    transform:scale(.1,.1);
    position:absolute;
    right:10px;
    padding:0;
    pointer-events:none;
    transition: all .5s ease;
}

.list .card .edit-item:hover .edit-item-dot {
    background-color:rgba(0, 70, 155, 0.9);
}

.edit-item-dot {
    height:6px;
    width:6px;
    border-radius:50%;
    background-color: rgba(0, 122, 197, 0.7);
    margin:3px 9px;
    transition: background-color .5s ease;
}

.card .card-body .task-container, .card .card-body .checkbox-container {
    display:inline-block;
    margin: 0 0.5rem;
}

.no-items-completed-message {
    margin-left:20px;
    font-style: italic;
    color:whitesmoke;
    text-shadow: 1px 1px 1px rgb(0, 70, 155);
}