html {
    height:100%;
}

body {
    height:100%;
    width:100%;
    font-family: 'Comfortaa', cursive;
}

body::after {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root, #root > div {
    height:100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.top-menu {
    height:40px;
}

.top-menu .header {
    display:inline-block;
    margin:0;
    padding:10px;
    font-size:15px;
}

.top-menu .logo {
    font-weight:900;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing:2px;
}

.main-app {
    display:flex;
    height: calc(100% - 40px);
}

.side-menu {
    display:inline-block;
    width:15%;
    max-width: 200px;
    height:100%;
    overflow-y:auto;
}

.all-list-titles {
    all:unset;
    text-align: center;
}

.all-list-titles li {
    margin:5px;
    padding:20px 1vw;
    font-size:1.5vw;
    border-radius:10px;
    cursor: pointer;
    list-style: none;
    transition: background-color .5s ease;
}

.current-list-title {
    pointer-events: none;
}

.current-list {
    width:50%;
    min-width:400px;
    height:100%;
    display:inline-block;
    vertical-align: top;
    padding:20px;
    box-sizing:border-box;
    overflow:auto;
}

.list {
    width:100%;
    display:inline-block;
}

h3.list-title {
    padding:5px 10px;
}

.list-title {
    color:white;
    font-size:40px;
    background:transparent;
    border:0;
    outline:none;
}

.list-title::placeholder {
    font-style:italic;
}

.list-title::-webkit-input-placeholder {
    font-style:italic;
}

.list-title:-moz-placeholder {
    font-style:italic;
}

.list-title::-moz-placeholder {
    font-style:italic;
}

.list-title .list-title-icon {
    float:right;
    opacity:0;
    position:relative;
    transform: scale(.7,.7);
    right: -10px;
    transition: all .5s ease;
}

.list-title:hover .list-title-icon {
    opacity:1;
    right:0px;
    cursor: pointer;
}

.list-title .list-title-icon:hover {
    color:rgb(221,221,221);
}

.list-title-input {
    font-style:italic;
}

.proto-list-option {
    color:rgb(221,221,221);
}

.proto-list-option:hover {
    color:white;
}

.list .card {
    border-radius:10px;
    background-color:rgb(255,255,255);
    width:calc(100% - 6px);
    margin:2px;
}

.list .card .card-body {
    display:flex;
    align-items:center;
}

.list .card.completed {
    opacity:0.8;
    text-decoration: line-through;
}

.list .card span {
    display:inline-block;
    padding:0 0.5rem;
}

.list .card label {
    all:unset;
    display:flex;
    align-items:center;
    cursor: default;
}

.add-item {
    outline:none;
    border:0;
    width:80%;
}

.alert-danger {
    border-radius:10px;
    margin-top:10px;
    padding:20px 15px;
    width:99%;
    left:0.5%;
}

.checkbox-container {
    height:15px;
    width:15px;
    border-radius:3px;
    background-color:rgb(221,221,221);
    text-align:center;
    display:inline-block;
    cursor:pointer;
}

.checkbox-container .checkmark {
    vertical-align:bottom;
}

.checkbox-container .checkmark.unchecked {
    display:none;
}

.input-checkbox {
    opacity:0;
    cursor:pointer;
}

.add-button {
    position:absolute;
    top:15px;
    right:20px;
}

.item-due-date {
    position:absolute;
    right:70px;
    font-style:italic;
}

.due-date-complete {
    text-decoration: line-through;
}

.due-date-past {
    color:red;
}

.star-item {
    position:absolute;
    right:30px;
    display:inline-block;
}

.far.fa-star {
    color:rgb(221,221,221);
}

.far.fa-star:hover {
    color:goldenrod;
}

.fas.fa-star {
    color:goldenrod;
}

.list-item-edit-screen .star-item {
    position:relative;
    right:0;
}

.star-item .star {
    cursor:pointer;
    transition: all .5s ease;
}

.list .card .star {
    opacity:0;
}

.star-item .star.starred{
    opacity:1;
}

.list .card:hover .star-item .star {
    opacity:1;
}

.list .card:hover .edit-item{
    opacity: 1;
    transform:scale(1,1);
    pointer-events: all;
    cursor:pointer;
}

.list .card .edit-item {
    opacity:0;
    transform:scale(.1,.1);
    position:absolute;
    right:10px;
    padding:0;
    pointer-events:none;
    transition: all .5s ease;
}

.edit-item-dot {
    height:6px;
    width:6px;
    border-radius:50%;
    margin:3px 9px;
    transition: background-color .5s ease;
}

.card .card-body .task-container, .card .card-body .checkbox-container {
    display:inline-block;
    margin: 0 0.5rem;
}

.card .card-body .task-container {
    width:78%;
}

.no-items-completed-message {
    margin-left:20px;
    font-style: italic;
}

.list-item-edit-screen {
    margin:2vw;
    background-color:white;
    border-radius:15px;
    padding:20px;
    border: 1px solid rgba(0,0,0,.125);
}

.edit-task-header-icon {
    float:right;
    right:0;
    position:relative;
    transition: all .5s ease;
    cursor: pointer;
}

.edit-task-header-icon:hover {
    opacity:1;
    right:0px;
    cursor: pointer;
}

.list-item-edit-container {
    overflow:auto;
    min-width: 420px;
}

.list-item-edit-screen table {
    width:100%;
}

.list-item-edit-screen td {
    padding:10px 0;
    width:30%;
}

.list-item-edit-screen label {
    margin-bottom:0;
}

.list-item-edit-screen .edit-task-input {
    width:95%;
    padding:5px;
    border-radius:10px;
    outline:none;
    border:1px solid rgb(221,221,221);
}

span.incomplete-item, span.completed-item, span.starred-item, span.unstarred-item {
    margin:10px;
    vertical-align: top;
    cursor:pointer;
}

span.incomplete-item, span.unstarred-item {
    color: gray;
}

span.completed-item {
    color:green;
}

span.starred-item {
    color:goldenrod;
}

.edit-task-buttons {
    text-align:center;
}

.edit-task-btn {
    margin:10px 5px;
}

.themes {
    padding:10px;
    color:white;
    font-size:10px;
    text-transform: uppercase;
    float:right;
    right:15px;
    position:relative;
}

.theme-boxes {
    position:absolute;
    display:flex;
    top:8px;
    right:5px;
    opacity:0;
    transition: all .5s ease;
}

.theme-box {
    height:16px;
    width:16px;
    border:1px solid black;
    display:inline-block;
    vertical-align:middle;
    margin: 0 5px;
    box-shadow: 1px 1px 1px black;
    cursor:pointer;
}

.themes .themes-label {
    right:0;
    transition:all .5s ease-out;
    position:relative;
}

.themes:hover .themes-label{
    right:110px;
}

.themes:hover .theme-boxes {
    opacity:1;
}

.theme-box.selected {
    border-color:white;
}

.theme-box.blue {
    background-color: rgb(0, 159, 232);
}

.theme-box.green {
    background-color: rgb(70, 186, 0);
}

.theme-box.purple {
    background-color: rgb(203, 141, 207);
}

.theme-box.yellow {
    background-color: rgb(255, 223, 8);
}

.half-size {
    width:50%;
}

.full-size {
    width:100%;
}

@media screen and (max-width:1200px) {
    .list-item-edit-screen td {
        font-size:1.3vw;
    }
}

@media screen and (max-width:1000px) {
    .main-app {
        display:block;
        height:auto;
    }

    .side-menu {
        width:100%;
        max-width:none;
        height:auto;
        display:block;
        overflow-x:auto;
        
    }

    .current-list {
        height:auto;
    }

    .all-list-titles li {
        display:inline-block;
        padding:20px 40px;
        font-size:24px;
    }

    .card {
        height:auto;
        font-size:2vw;
    }

    .card button {
        font-size: 2vw;
    }

    .item-due-date{
        font-size: 1.7vw;
    }

    .checkbox-container {
        height:2vw;
        width:2vw;
    }

    .list-item-edit-screen td {
        font-size:2vw;
    }

    .checkbox-container .checkmark {
        vertical-align:middle;
    }

    .half-size {
        width:100%;
    }

    .add-button {
        top:auto;
    }
}

@media screen and (max-width:768px) {
    .card {
        height:auto;
        font-size:2.5vw;
    }

    .card button {
        font-size: 2.5vw;
    }

    .list-item-edit-container  {
        font-size: 2.5vw;
    }

    .checkbox-container {
        height:2.5vw;
        width:2.5vw;
    }

    .list-item-edit-screen td {
        font-size:2.5vw;
    }
}

@media screen and (max-width:700px) {
    .item-due-date {
        display:none;
    }
}