body {
    background-image:url(../../images/grass.jpg);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(70, 186, 0); 
}
 
::-webkit-scrollbar-thumb {
    background: rgb(0, 43, 0);
}

.top-menu {
    background-color:rgba(0, 43, 0, 0.9);
}

.top-menu .header {
    color:rgb(221,221,221);
}

.side-menu {
    background-color: rgba(0, 106, 0, 0.7);
}

.all-list-titles li {
    color:white;
}

.all-list-titles li:hover {
    background-color: rgba(0, 43, 0, 0.5)
}

.current-list-title {
    background-color:rgba(0, 43, 0, 0.9);
}

.current-list, .list-item-edit-container {
    background-color:rgba(70, 186, 0, 0.3);
}

.list-title {
    text-shadow: 3px 3px 3px rgb(0, 43, 0);
}

.list-title::placeholder {
    color:rgb(221,221,221);
}

.list-title::-webkit-input-placeholder {
    color:rgb(221,221,221);
}

.list-title:-moz-placeholder {
    color:rgb(221,221,221);
}

.list-title::-moz-placeholder {
    color:rgb(221,221,221);
}

.list-title .trash-can:hover {
    color:rgb(221,221,221);
}

.proto-list-option {
    color:rgb(221,221,221);
}

.proto-list-option:hover {
    color:white;
}

.alert-danger {
    box-shadow: 4px 4px 5px rgb(0, 43, 0);
}

.checkbox-container .checkmark {
    color:rgb(0, 106, 0);
}

.list .card .edit-item:hover .edit-item-dot {
    background-color:rgba(0, 43, 0, 0.9);
}

.edit-item-dot {
    background-color: rgba(0, 106, 0, 0.7);
}

.no-items-completed-message {
    color:whitesmoke;
    text-shadow: 1px 1px 1px rgb(0, 43, 0);
}